USE [master]
GO
/****** Object:  Database [DADOS_VENDAS]    Script Date: 15/10/2016 19:14:20 ******/
CREATE DATABASE [DADOS_VENDAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DADOS_VENADAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2\MSSQL\DATA\DADOS_VENADAS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DADOS_VENADAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2\MSSQL\DATA\DADOS_VENADAS_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DADOS_VENDAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DADOS_VENDAS]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 15/10/2016 19:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](30) NOT NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 15/10/2016 19:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID_CLI] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[CIDADE] [varchar](30) NOT NULL,
	[ESTADO] [char](2) NOT NULL,
	[TELEFONE] [varchar](20) NOT NULL,
	[CELULAR] [varchar](20) NOT NULL,
	[EMAIL] [varchar](60) NOT NULL,
	[DATANASCIMENTO] [date] NOT NULL,
	[RG] [varchar](20) NOT NULL,
	[CPF] [varchar](20) NOT NULL,
 CONSTRAINT [ID_CLIK_PK] PRIMARY KEY CLUSTERED 
(
	[ID_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [CPF_UNIQUE] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [RG_UNIQUE] UNIQUE NONCLUSTERED 
(
	[RG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 15/10/2016 19:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[idProduto] [int] NOT NULL,
	[valor] [decimal](18, 0) NOT NULL,
 CONSTRAINT [ID_PEDI_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 15/10/2016 19:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](60) NOT NULL,
	[NUMERO] [numeric](5, 0) NOT NULL,
	[MARCA] [numeric](8, 0) NOT NULL,
	[idCategoria] [int] NOT NULL,
	[VALOR] [nchar](10) NULL,
 CONSTRAINT [ID_PROD_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_CLIENTES] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[CLIENTES] ([ID_CLI])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_CLIENTES]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_PRODUTO] FOREIGN KEY([idProduto])
REFERENCES [dbo].[PRODUTO] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_CATEGORIA] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CATEGORIA] ([Id])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_CATEGORIA]
GO
USE [master]
GO
